
fastapi
uvicorn
sqlalchemy
python-dotenv
pydantic
httpx
redis
rq
prometheus_client
pandas
numpy
yfinance
PyMuPDF
pillow
pytesseract
python-multipart
alembic
APScheduler
psycopg2-binary
pdfplumber

python-dateutil

pytest

pywebpush
cryptography

boto3
jinja2
